<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Pagina de prueba</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header> 
            <div>Esta es una prueba de la pagina web
            </div>
        </header>
        <section>
            <h2>Esta es una tienda de prueba</h2>
        </section>
        <footer>   
            Todos los derechos Reservados por mi jeje
        </footer>
    </body>
</html>
